p {
  font-size: 20px;
}

#computer {
  display: flex;
  justify-content: center;
}

.rps {
  display: flex;
  justify-content: space-evenly;
  margin: 80px;
}

.computerImage {
  display: flex;
  justify-content: center;
}

.flex-container {
 display: flex;
 justify-content: space-evenly;

}